includes:
    - phar://phpstan.phar/conf/config.levelmax.neon
    - vendor/phpstan/phpstan-strict-rules/rules.neon
    - vendor/phpstan/phpstan-phpunit/extension.neon

parameters:
    tmpDir: tmp/
    paths:
        - src/
        - tests/