includes:
    - vendor/phpstan/phpstan/conf/config.levelmax.neon
    - vendor/phpstan/phpstan-phpunit/extension.neon

#parameters:
    #excludes_analyse:
    #    -  app/lib/Form/AbstractForm.php
    #    -  app/lib/Form/View/Helper/Form
    #    -  app/lib/Mail/Message/TextPlainDecorator.php
    #ignoreErrors:
    #    - '#Access to an undefined property ColTest\\#'
    #    - '#Access to an undefined property Col\\Massiva\\File\\Exception\\#'
    #    - '#Access to private property \$\w+ of parent class PHPUnit\\Framework\\#'
    #    - '#Argument of an invalid type .+ supplied for foreach, only iterables are supported#'
    #    - '#Call to an undefined (static )?method#'
    #    - '#Calling method .+ on possibly null value of type#'
    #    - '#Cannot call method .+Zend\\Mail\\Header\\HeaderInterface#'
    #    - '#Cannot call method .+Zend\\View\\Resolver\\ResolverInterface#'
    #    - '#Col\\Cli\\EntityManagerInitializerProxyCommand::__construct\(\) does not call parent constructor#'
    #    - '#Col\\Mail\\Protocol\\TimeKeeperSmtpProxy::__construct\(\) does not call parent constructor#'
    #    - '#Constant \w+ not found#'
    #    - '#Function \w+ not found#'
    #    - '#Parameter .+ given#'
