<?xml version="1.0" encoding="UTF-8"?>

<phpunit
        bootstrap="./vendor/autoload.php"
        colors="true"
        verbose="true"
>
    <testsuites>
        <testsuite name="ddeboer/imap">
            <directory>./tests/</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist>
            <directory suffix=".php">./src</directory>
        </whitelist>
    </filter>
    <php>
        <env name="IMAP_SERVER_NAME" value="lukana.pl"/>
        <env name="IMAP_SERVER_PORT" value="993"/>
        <env name="IMAP_USERNAME" value="tests@lukana.pl"/>
        <env name="IMAP_PASSWORD" value=""/>
    </php>
</phpunit>
